@use '/src/styles/global' as *;

.text-button {
  display: block;
  padding: 0;
  text-align: center;
  font-family: $ff-main;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: $color-black;
  transition: color $transition-200;
  
  &:hover,
  &:focus-visible {
    color: $color-active;
  }
}